<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Shami web UI</div>
  <div class="list-group list-group-flush">
    <a href="{{ url_for('logs') }}" class="list-group-item list-group-item-action bg-light">Logs</a>
    <a href="{{ url_for('tasks') }}" class="list-group-item list-group-item-action bg-light">Tasks</a>
    <a href="{{ url_for('register') }}" class="list-group-item list-group-item-action bg-light">Register</a>
    <a href="{{ url_for('submit_task') }}" class="list-group-item list-group-item-action bg-light">Submit task</a>
    <a href="{{ url_for('resources') }}" class="list-group-item list-group-item-action bg-light">Resources</a>
  </div>
</div>
