<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% block metas %}
            <meta charset="utf-8">
        {% endblock metas %}

        <title>{% block title %}Shami web UI{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">
        {% endblock styles %}
    {% endblock head %}
</head>
<body>
<nav>
    {% block nav %}
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    {% endblock %}
</nav>

{% include "_sidebar.html" %}

<div class="main">
    {% for message in get_flashed_messages() %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
</div>
<footer>
    {% block footer %}
        <small> &copy; 2020 <a href="http://yefamily.site" title="yefamily.site">Qiming Ye</a>
        </small>
    {% endblock %}
</footer>
{% block scripts %}{% endblock %}
</body>
</html>
